.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container:after,
.container:before {
    content: " ";
    display: table;
}
.container:after {
    clear: both;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container-fluid:after,
.container-fluid:before {
    content: " ";
    display: table;
}
.container-fluid:after {
    clear: both;
}
.navbar1-header:after,
.navbar1-header:before {
    content: " ";
    display: table;
}
.navbar1-header:after {
    clear: both;
}
@media (min-width: 768px) {
    .navbar1-header {
        float: left;
    }
}
.navbar1-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 23px;
    margin-bottom: 23px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
}
.navbar1-toggle:focus {
    outline: 0;
}
.navbar1-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar1-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
@media (min-width: 768px) {
    .navbar1-toggle {
        display: none;
    }
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}
.navbar1-brand {
    float: left;
    padding: 27.5px 15px;
    font-size: 23px;
    line-height: 25px;
    height: 80px;
}
.navbar1-brand:focus,
.navbar1-brand:hover {
    text-decoration: none;
}
.navbar1-brand > img {
    display: block;
}
@media (min-width: 768px) {
    .navbar1 > .container-fluid .navbar1-brand,
    .navbar1 > .container .navbar1-brand {
        margin-left: -15px;
    }
}
.navbar1 {
    position: relative;
    min-height: 80px;
    margin-bottom: 25px;
    border: 1px solid transparent;
}
.navbar1:after,
.navbar1:before {
    content: " ";
    display: table;
}
.navbar1:after {
    clear: both;
}
@media (min-width: 768px) {
    .navbar1 {
        border-radius: 2px;
    }
}
.navbar1-header:after,
.navbar1-header:before {
    content: " ";
    display: table;
}
.navbar1-header:after {
    clear: both;
}
@media (min-width: 768px) {
    .navbar1-header {
        float: left;
    }
}
.navbar1-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.1);
    -webkit-overflow-scrolling: touch;
}
.navbar1-collapse:after,
.navbar1-collapse:before {
    content: " ";
    display: table;
}
.navbar1-collapse:after {
    clear: both;
}
.navbar1-collapse.in {
    overflow-y: auto;
}
@media (min-width: 768px) {
    .navbar1-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
    .navbar1-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar1-collapse.in {
        overflow-y: visible;
    }
    .navbar1-fixed-bottom .navbar1-collapse,
    .navbar1-fixed-top .navbar1-collapse,
    .navbar1-static-top .navbar1-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}
.navbar1-fixed-bottom .navbar1-collapse,
.navbar1-fixed-top .navbar1-collapse {
    max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
    .navbar1-fixed-bottom .navbar1-collapse,
    .navbar1-fixed-top .navbar1-collapse {
        max-height: 200px;
    }
}
.container-fluid > .navbar1-collapse,
.container-fluid > .navbar1-header,
.container > .navbar1-collapse,
.container > .navbar1-header {
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px) {
    .container-fluid > .navbar1-collapse,
    .container-fluid > .navbar1-header,
    .container > .navbar1-collapse,
    .container > .navbar1-header {
        margin-right: 0;
        margin-left: 0;
    }
}
.navbar1-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}
@media (min-width: 768px) {
    .navbar1-static-top {
        border-radius: 0;
    }
}
.navbar1-fixed-bottom,
.navbar1-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (min-width: 768px) {
    .navbar1-fixed-bottom,
    .navbar1-fixed-top {
        border-radius: 0;
    }
}
.navbar1-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar1-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
}
.navbar1-brand {
    float: left;
    padding: 27.5px 15px;
    font-size: 23px;
    line-height: 25px;
    height: 80px;
}
.navbar1-brand:focus,
.navbar1-brand:hover {
    text-decoration: none;
}
.navbar1-brand > img {
    display: block;
}
@media (min-width: 768px) {
    .navbar1 > .container-fluid .navbar1-brand,
    .navbar1 > .container .navbar1-brand {
        margin-left: -15px;
    }
}
.navbar1-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 23px;
    margin-bottom: 23px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
}
.navbar1-toggle:focus {
    outline: 0;
}
.navbar1-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar1-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
@media (min-width: 768px) {
    .navbar1-toggle {
        display: none;
    }
}
.navbar1-nav {
    margin: 13.75px -15px;
}
.navbar1-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 25px;
}
@media (max-width: 767px) {
    .navbar1-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .navbar1-nav .open .dropdown-menu .dropdown-header,
    .navbar1-nav .open .dropdown-menu > li > a {
        padding: 5px 15px 5px 25px;
    }
    .navbar1-nav .open .dropdown-menu > li > a {
        line-height: 25px;
    }
    .navbar1-nav .open .dropdown-menu > li > a:focus,
    .navbar1-nav .open .dropdown-menu > li > a:hover {
        background-image: none;
    }
}
@media (min-width: 768px) {
    .navbar1-nav {
        float: left;
        margin: 0;
    }
    .navbar1-nav > li {
        float: left;
    }
    .navbar1-nav > li > a {
        padding-top: 27.5px;
        padding-bottom: 27.5px;
    }
}
.navbar1-form {
    margin: 14.5px -15px;
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.1), 0 1px 0 hsla(0, 0%, 100%, 0.1);
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.1), 0 1px 0 hsla(0, 0%, 100%, 0.1);
}
@media (min-width: 768px) {
    .navbar1-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar1-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .navbar1-form .form-control-static {
        display: inline-block;
    }
    .navbar1-form .input-group {
        display: inline-table;
        vertical-align: middle;
    }
    .navbar1-form .input-group .form-control,
    .navbar1-form .input-group .input-group-addon,
    .navbar1-form .input-group .input-group-btn {
        width: auto;
    }
    .navbar1-form .input-group > .form-control {
        width: 100%;
    }
    .navbar1-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar1-form .checkbox,
    .navbar1-form .radio {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar1-form .checkbox label,
    .navbar1-form .radio label {
        padding-left: 0;
    }
    .navbar1-form .checkbox input[type="checkbox"],
    .navbar1-form .radio input[type="radio"] {
        position: relative;
        margin-left: 0;
    }
    .navbar1-form .has-feedback .form-control-feedback {
        top: 0;
    }
}
@media (max-width: 767px) {
    .navbar1-form .form-group {
        margin-bottom: 5px;
    }
    .navbar1-form .form-group:last-child {
        margin-bottom: 0;
    }
}
@media (min-width: 768px) {
    .navbar1-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
.navbar1-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.navbar1-fixed-bottom .navbar1-nav > li > .dropdown-menu {
    margin-bottom: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.navbar1-btn {
    margin-top: 14.5px;
    margin-bottom: 14.5px;
}
.btn-group-sm > .navbar1-btn.btn,
.navbar1-btn.btn-sm {
    margin-top: 21.5px;
    margin-bottom: 21.5px;
}
.btn-group-xs > .navbar1-btn.btn,
.navbar1-btn.btn-xs {
    margin-top: 29px;
    margin-bottom: 29px;
}
.navbar1-text {
    margin-top: 27.5px;
    margin-bottom: 27.5px;
}
@media (min-width: 768px) {
    .navbar1-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media (min-width: 768px) {
    .navbar1-left {
        float: left !important;
    }
    .navbar1-right {
        float: right !important;
        margin-right: -15px;
    }
    .navbar1-right ~ .navbar1-right {
        margin-right: 0;
    }
}
.navbar1-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar1-default .navbar1-brand {
    color: #fff;
}
.navbar1-default .navbar1-brand:focus,
.navbar1-default .navbar1-brand:hover {
    color: #e6e6e6;
    background-color: transparent;
}
.navbar1-default .navbar1-text {
    color: #838383;
}
.navbar1-default .navbar1-nav > li > a {
    color: #fff;
}
.navbar1-default .navbar1-nav > li > a:focus,
.navbar1-default .navbar1-nav > li > a:hover {
    color: #e6e6e6;
    background-color: transparent;
}
.navbar1-default .navbar1-nav > .active > a,
.navbar1-default .navbar1-nav > .active > a:focus,
.navbar1-default .navbar1-nav > .active > a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar1-default .navbar1-nav > .disabled > a,
.navbar1-default .navbar1-nav > .disabled > a:focus,
.navbar1-default .navbar1-nav > .disabled > a:hover {
    color: #ccc;
    background-color: transparent;
}
.navbar1-default .navbar1-toggle {
    border-color: #ddd;
}
.navbar1-default .navbar1-toggle:focus,
.navbar1-default .navbar1-toggle:hover {
    background-color: #ddd;
}
.navbar1-default .navbar1-toggle .icon-bar {
    background-color: #888;
}
.navbar1-default .navbar1-collapse,
.navbar1-default .navbar1-form {
    border-color: transparent;
}
.navbar1-default .navbar1-nav > .open > a,
.navbar1-default .navbar1-nav > .open > a:focus,
.navbar1-default .navbar1-nav > .open > a:hover {
    background-color: transparent;
    color: #fff;
}
@media (max-width: 767px) {
    .navbar1-default .navbar1-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar1-default .navbar1-nav .open .dropdown-menu > li > a:focus,
    .navbar1-default .navbar1-nav .open .dropdown-menu > li > a:hover {
        color: #e6e6e6;
        background-color: transparent;
    }
    .navbar1-default .navbar1-nav .open .dropdown-menu > .active > a,
    .navbar1-default .navbar1-nav .open .dropdown-menu > .active > a:focus,
    .navbar1-default .navbar1-nav .open .dropdown-menu > .active > a:hover {
        color: #fff;
        background-color: transparent;
    }
    .navbar1-default .navbar1-nav .open .dropdown-menu > .disabled > a,
    .navbar1-default .navbar1-nav .open .dropdown-menu > .disabled > a:focus,
    .navbar1-default .navbar1-nav .open .dropdown-menu > .disabled > a:hover {
        color: #ccc;
        background-color: transparent;
    }
}
.navbar1-default .navbar1-link {
    color: #fff;
}
.navbar1-default .navbar1-link:hover {
    color: #e6e6e6;
}
.navbar1-default .btn-link {
    color: #fff;
}
.navbar1-default .btn-link:focus,
.navbar1-default .btn-link:hover {
    color: #e6e6e6;
}
.navbar1-default .btn-link[disabled]:focus,
.navbar1-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar1-default .btn-link:focus,
fieldset[disabled] .navbar1-default .btn-link:hover {
    color: #ccc;
}
.navbar1-inverse {
    background-color: #222;
    border-color: #1763e9;
}
.navbar1-inverse .navbar1-brand {
    color: #fff;
}
.navbar1-inverse .navbar1-brand:focus,
.navbar1-inverse .navbar1-brand:hover {
    color: #fff;
    background-color: transparent;
}
.navbar1-inverse .navbar1-nav > li > a,
.navbar1-inverse .navbar1-text {
    color: #fff;
}
.navbar1-inverse .navbar1-nav > li > a:focus,
.navbar1-inverse .navbar1-nav > li > a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar1-inverse .navbar1-nav > .active > a,
.navbar1-inverse .navbar1-nav > .active > a:focus,
.navbar1-inverse .navbar1-nav > .active > a:hover {
    color: #fff;
    background-color: #090909;
}
.navbar1-inverse .navbar1-nav > .disabled > a,
.navbar1-inverse .navbar1-nav > .disabled > a:focus,
.navbar1-inverse .navbar1-nav > .disabled > a:hover {
    color: #444;
    background-color: transparent;
}
.navbar1-inverse .navbar1-toggle {
    border-color: #333;
}
.navbar1-inverse .navbar1-toggle:focus,
.navbar1-inverse .navbar1-toggle:hover {
    background-color: #333;
}
.navbar1-inverse .navbar1-toggle .icon-bar {
    background-color: #fff;
}
.navbar1-inverse .navbar1-collapse,
.navbar1-inverse .navbar1-form {
    border-color: #101010;
}
.navbar1-inverse .navbar1-nav > .open > a,
.navbar1-inverse .navbar1-nav > .open > a:focus,
.navbar1-inverse .navbar1-nav > .open > a:hover {
    background-color: #090909;
    color: #fff;
}
@media (max-width: 767px) {
    .navbar1-inverse .navbar1-nav .open .dropdown-menu > .dropdown-header {
        border-color: #1763e9;
    }
    .navbar1-inverse .navbar1-nav .open .dropdown-menu .divider {
        background-color: #1763e9;
    }
    .navbar1-inverse .navbar1-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar1-inverse .navbar1-nav .open .dropdown-menu > li > a:focus,
    .navbar1-inverse .navbar1-nav .open .dropdown-menu > li > a:hover {
        color: #fff;
        background-color: transparent;
    }
    .navbar1-inverse .navbar1-nav .open .dropdown-menu > .active > a,
    .navbar1-inverse .navbar1-nav .open .dropdown-menu > .active > a:focus,
    .navbar1-inverse .navbar1-nav .open .dropdown-menu > .active > a:hover {
        color: #fff;
        background-color: #090909;
    }
    .navbar1-inverse .navbar1-nav .open .dropdown-menu > .disabled > a,
    .navbar1-inverse .navbar1-nav .open .dropdown-menu > .disabled > a:focus,
    .navbar1-inverse .navbar1-nav .open .dropdown-menu > .disabled > a:hover {
        color: #444;
        background-color: transparent;
    }
}
.navbar1-inverse .btn-link,
.navbar1-inverse .btn-link:focus,
.navbar1-inverse .btn-link:hover,
.navbar1-inverse .navbar1-link,
.navbar1-inverse .navbar1-link:hover {
    color: #fff;
}
.navbar1-inverse .btn-link[disabled]:focus,
.navbar1-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar1-inverse .btn-link:focus,
fieldset[disabled] .navbar1-inverse .btn-link:hover {
    color: #444;
}
.navbar1-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar1-default .navbar1-brand {
    color: #fff;
}
.navbar1-default .navbar1-brand:focus,
.navbar1-default .navbar1-brand:hover {
    color: #e6e6e6;
    background-color: transparent;
}
.navbar1-default .navbar1-text {
    color: #838383;
}
.navbar1-default .navbar1-nav > li > a {
    color: #fff;
}
.navbar1-default .navbar1-nav > li > a:focus,
.navbar1-default .navbar1-nav > li > a:hover {
    color: #e6e6e6;
    background-color: transparent;
}
.navbar1-default .navbar1-nav > .active > a,
.navbar1-default .navbar1-nav > .active > a:focus,
.navbar1-default .navbar1-nav > .active > a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar1-default .navbar1-nav > .disabled > a,
.navbar1-default .navbar1-nav > .disabled > a:focus,
.navbar1-default .navbar1-nav > .disabled > a:hover {
    color: #ccc;
    background-color: transparent;
}
.navbar1-default .navbar1-toggle {
    border-color: #ddd;
}
.navbar1-default .navbar1-toggle:focus,
.navbar1-default .navbar1-toggle:hover {
    background-color: #ddd;
}
.navbar1-default .navbar1-toggle .icon-bar {
    background-color: #888;
}
.navbar1-default .navbar1-collapse,
.navbar1-default .navbar1-form {
    border-color: transparent;
}
.navbar1-default .navbar1-nav > .open > a,
.navbar1-default .navbar1-nav > .open > a:focus,
.navbar1-default .navbar1-nav > .open > a:hover {
    background-color: transparent;
    color: #fff;
}
@media (max-width: 767px) {
    .navbar1-default .navbar1-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar1-default .navbar1-nav .open .dropdown-menu > li > a:focus,
    .navbar1-default .navbar1-nav .open .dropdown-menu > li > a:hover {
        color: #e6e6e6;
        background-color: transparent;
    }
    .navbar1-default .navbar1-nav .open .dropdown-menu > .active > a,
    .navbar1-default .navbar1-nav .open .dropdown-menu > .active > a:focus,
    .navbar1-default .navbar1-nav .open .dropdown-menu > .active > a:hover {
        color: #fff;
        background-color: transparent;
    }
    .navbar1-default .navbar1-nav .open .dropdown-menu > .disabled > a,
    .navbar1-default .navbar1-nav .open .dropdown-menu > .disabled > a:focus,
    .navbar1-default .navbar1-nav .open .dropdown-menu > .disabled > a:hover {
        color: #ccc;
        background-color: transparent;
    }
}
.navbar1-default .navbar1-link {
    color: #fff;
}
.navbar1-default .navbar1-link:hover {
    color: #e6e6e6;
}
.navbar1-default .btn-link {
    color: #fff;
}
.navbar1-default .btn-link:focus,
.navbar1-default .btn-link:hover {
    color: #e6e6e6;
}
.navbar1-default .btn-link[disabled]:focus,
.navbar1-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar1-default .btn-link:focus,
fieldset[disabled] .navbar1-default .btn-link:hover {
    color: #ccc;
}
.navbar1-default.active {
    border-color: transparent;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    background-image: url(./assets/images/wave-header.svg);
    background-position: 0 90%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}
@media (max-width: 768px) {
    .navbar1-default.active .navbar1-nav {
        margin-bottom: 60px;
    }
}
.navbar1-brand > .navbar1-logo-img {
    display: inline-block;
    margin-top: -5px;
}
.navbar1-default .navbar1-toggle .icon-bar {
    background-color: #fff;
}
.navbar1-default .navbar1-toggle:focus .icon-bar,
.navbar1-default .navbar1-toggle:hover .icon-bar {
    background-color: #888;
}
.navbar1-default .navbar1-nav > .active > a,
.navbar1-default .navbar1-nav > .active > a:focus,
.navbar1-default .navbar1-nav > .active > a:hover {
    font-weight: 700;
}
.navbar1-brand > .navbar1-logo-img {
    display: inline-block;
    margin-top: -5px;
}